@keyframes anim {
    0%{
        background-color: transparent;
    }
    50%{
        background-color: rgba(0, 0, 0, 0.1);
    }
    100%{
        background-color: transparent;
    }
}

.chatlist{
    width: 30%;
    border: 2px solid #cacaca;
    box-sizing: border-box;
}

.chatlist-add{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.chatlist-add-field{
    width: 100%;
}
.chatlist-link{
    width: 100%;
    color: #3e3e3e;
    text-decoration: none;
}

.chatlist-link-wrap{
    display: flex;
    justify-content: space-between;
}

.chatlist-button-default{

}

.chatlist-button-change{
    animation: anim 1s 3 !important;
}
