.messanger{
    width: 70%;
    border-width: 2px 2px 0 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: #cacaca;
}

.field{
    height: 350px;
    background-color: #edf9ff;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}